@charset "utf-8";

$font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', STHeiti, 'Microsoft Yahei', Tahoma, sans-serif;;
$font-family-monospace: monospace;

$bottom-gap: 50px !default;

$z-layers:(
  'tab-nav': 10,
  'content': 20
);

$cube-width: 5rem;

$pie-bg: #ccc;
$pie-oq: #fff;