@charset "utf-8";

$font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', STHeiti, 'Microsoft Yahei', Tahoma, sans-serif;;
$font-family-monospace: monospace;

$bottom-gap: 50px !default;

$z-layers:(
  'userbar': 20,
  'navtab': 20,
  'footer': 20,
  'default': 1
);

$cube-width: 5rem;
