@charset 'utf-8';

.child-view {
  @include absolute(left 0 right 0 top 0 bottom 0);

  will-change: background-color;
  overflow: auto;
  transition: background-color 0.5s, color 0.5s, opacity 0.5s ease;
}

// tab container 再定义
.tab-box {
  padding: 0 1rem;
}
