@charset 'utf-8';

.child-view {
  @include absolute(left 0 right 0);
  top: var(--head-height);
  bottom: var(--foot-height);
  overflow: auto;
  will-change: background-color;
  transition: background-color 0.5s, color 0.5s, opacity 0.5s ease;

}
// tab bar 重定义
.mint-navbar.tab-nav {
  @include absolute(left 0 right 0);
  // top: var(--head-height);
  z-index: z('tab-nav');

  > a {
    will-change: border-bottom;
    transition: border-bottom 0.5s;
    border-bottom: 3px solid transparent;
    font-size: 14px;

    + a {
      background: linear-gradient(#eee, #eee) no-repeat left / 1px 50%;
    }
    
    &.is-selected {
      font-weight: bold;
      margin-bottom: 0;
      border-bottom-color: currentcolor;
    }

  }
}
// tab container 再定义
.tab-box {
  padding: 1rem;
  padding-top: calc(2em + var(--head-height));
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}