@charset 'utf-8';

.child-view {
  @include absolute(left 0 right 0);
  top: var(--head-height);
  bottom: var(--foot-height);
  overflow: auto;
  transition: transform .3s cubic-bezier(0.2, 0.6, 0.6, 1.5);
}

.tab-nav {
  @include fixed(left 0 right 0);
  top: var(--head-height);
  z-index: z('navtab');
  
  .mint-tab-item {
    font-size: 1.2em;
    line-height: 1.2;
  }

  .is-selected {
    font-weight: bold;
    background: #eee;
  }
}

.tab-box {
  padding: 1em;
  padding-top: calc(2em + var(--head-height));
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}
