@charset 'utf-8';

// 安全色
.color-216 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.color-item {
  @include size(15%);
  padding-top: 12%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px #ccc;

  &::after {
    @include absolute(left 0 right 0 bottom 0);

    content: '#'attr(data-color);
    background: rgba(#fff, 0.7);
    padding: 0 5px;
    font-size: 8px;
    line-height: 2em;
    font-family: monospace;
  }
}

// 预命名色
.name-select {
  min-height: 100%;
}

.named-color {
  display: flex;
}

.color-bar {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    will-change: transform;
    width: 17%;
    padding-top: 17%;
    border-radius: 50%;
    margin-bottom: 1em;
    background: radial-gradient(circle at 30% 30%, #fff 15%, transparent 0);
    transition: transform 1s 0.2s, box-shadow 1s;

    &.active {
      box-shadow: 0 0 0 5px rgba(#666, 0.2);
      transform: rotate(180deg);
    }
  }
}

.color-detail {
  width: 35%;
  position: relative;

  ul {
    @include fixed(top 100px right 0);
    padding: 1em;
    color: #666;
  }

  li {
    position: relative;
    // 中文名称栏
    &:first-child {
      font-size: 1.2em;
      text-align: right;
    }
    // 英文名称
    &:nth-child(2) {
      line-height: 3;
      font-size: 12px;
      text-transform: capitalize;
      text-align: right;
    }
    &[data-text] {
      // RGB标识字
      &::before {
        @include absolute(right 2.5rem);
        content: attr(data-text);
        font-size: 14px;
      }
      // RGB数值区
      span {
        @include size(3rem);
        @include fc;
        
        margin-top: 1em;
        margin-left: auto;
        justify-content: flex-end;
        font-size: 18px;
        font-weight: bold;
        font-family: monospace;
        border-bottom: 2px solid #ccc;
      }
      i {
        @include size(3rem, 2px);
        @include relative(top -2px);

        will-change: transform;
        display: block;
        margin-left: auto;
        transform-origin: left;
        transition: transform 1s;
      }
      &[data-text=R] i {
        background-color: red;
      }
      &[data-text=G] i {
        background-color: green;
      }
      &[data-text=B] i {
        background-color: blue;
      }
    }
    &.hex {
      text-align: right;
      text-transform: uppercase;
      font-size: 12px;
    }
    &.badge {
      padding: 1em 0 0;
      text-align: right;
    }
    &.svg-icon {
      text-align: right;
      font-size: 4em;

      a {
        color: #333;
      }
    }
  }
}

// 诗词色 - 容器
.decent-items {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 2rem);
  height: calc(100vw - 2rem);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
  // 项目
  > span {
    @include fc;
    
    font-family: poemfonts;
    width: 33%;
    padding: 0.5rem;
    font-size: 2.5rem;
    background: url(../img/cloud-2.png) center / 90%;
    background-blend-mode: soft-light;
    background-clip: content-box;
    border-radius: 50%;
    border: 0.5rem solid #fff;
    box-shadow: inset 0 0 0 0.5rem rgba(#ccc, 0.3);
  }
}

.decent-list {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  > article {
    width: 2.5rem;
    display: flex;
    margin-right: 1em;
    justify-content: space-between;
    border-top: 0.8rem solid;
    padding: 0.5rem 2px 2rem;

    > div:first-child {
      font-size: 12px;
      text-transform: uppercase;
      writing-mode: vertical-lr;
    }

    .rgb {
      text-align: right;
    }

    .pie-chart {
      @include size(1.2rem);

      circle {
        stroke: currentcolor;
      }

      + .pie-chart {
        margin-top: 0.3rem;
      }
    }
  }
}

.mini-menu {
  padding: 1rem 1rem 0;
  display: flex;
  justify-content: flex-end;

  span + span {
    margin-left: 1rem;
  }
}

.full-screen {
  @include absolute(bottom 2rem top 2rem left 0 right 0);
  padding-top: 1rem;

  h2 {
    @include absolute(left 0 right 0 top 30%);
    font-family: poemfonts;
    font-size: 5rem;
  }
  h4 {
    @include absolute(left 0 right 0 bottom 2rem);
    line-height: 1.5;
    font-size: 0.8em;
    font-weight: 400;
  }
}

// 传统色
.tridition-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > p {
    margin: 2em 0 0;
    font-size: 10px;
    text-decoration: underline;
  }
}

.tridition-key {
  font-family: triditionfonts;
  text-align: center;
  width: 45%;
  line-height: 2.5;
  font-size: 30px;
  background:
    url(../img/cloud.png) center / auto 90%,
    radial-gradient(circle at top left, #fff 0.25em, transparent 0),
    radial-gradient(circle at top right, #fff 0.25em, transparent 0),
    radial-gradient(circle at bottom left, #fff 0.25em, transparent 0),
    radial-gradient(circle at bottom right, #fff 0.25em, transparent 0),
    linear-gradient(#fff, #fff) center 5% / 85% 1px,
    linear-gradient(#fff, #fff) center 95% / 85% 1px,
    linear-gradient(#fff, #fff) 2% center / 1px 55%,
    linear-gradient(#fff, #fff) 98% center / 1px 55%;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;

  &:nth-child(n+3) {
    margin-top: 1rem;
  }
}

.tridition-list {
  @include absolute(top 0 left 0 right 0 bottom 0);

  will-change: background-color;
  z-index: z('content');
  overflow: scroll;
  transition: background-color 0.5s;

  .unstyled {
    // 列表容器
    padding: 1rem;
    font-size: 16px;
    
  }

  ruby > span {
    letter-spacing: 10px;
  }
  // 拼音容器
  rt {
    text-align: justify;
    text-transform: capitalize;
  }

  // 颜色列表
  li {
    margin-bottom: 1rem;
    padding: 1rem 0 0 2rem;
    position: relative;
    
    // 0.5px 分割线
    @include thin-line;
    &::after {
      background-color: currentcolor;
    }

    // 列表修饰
    i {
      @include size(1.2rem);
      @include absolute(left 0 top 1.5em);

      will-change: transform, border-radius;
      display: block;
      border-radius: 0.3rem;
      transition-property: transform, border-radius;
      transition-duration: 0.5s;
      transition-delay: 0.2s;
    }

    // 选中状态
    &.selected {
      i {
        border-radius: 50%;
        transform: rotate(-180deg);
        background-image: radial-gradient(circle, transparent 30%, currentcolor 0);
      }

      ruby {
        > span {
          font-family: triditionfonts;
          font-size: 38px;
          line-height: 1;
          letter-spacing: normal;
        }

        > rp,
        > rt {
          display: none;
        }
      }
    }
    // 
    .color-info > span {
      @include absolute(right 0 top 1.5em);

      text-transform: uppercase;
      font-family: 'Source Code Pro', $font-family-monospace;
    }

    article {
      display: flex;
      background-image: radial-gradient(circle at 90% 50%, transparent 3%, rgba(#fff, 0.8) 0);
      margin: 1rem 0 1.5rem -2rem;
      // margin-left: -2rem;
      border-radius: 1rem 25% 25% 1rem / 1rem 100% 100% 1rem;
      padding: 1rem 1rem 0.5rem;
      box-shadow: 0.5rem 0.5rem rgba(#ccc, 0.7);
  
      span {
        @include size(3.5rem);
        @include fc;

        position: relative;
        margin-right: 0.3rem;

        &::before {
          @include absolute(left 0 top 0);

          content: attr(data-key);
          line-height: 0;
          color: #aaa;
          text-transform: uppercase;
          font-size: 14px;
          font-family: $font-family-monospace;
        }

        &::after {
          @include absolute(left 0 top 0 bottom 0 right 0);
          @include fc;

          content: attr(data-val);
        }
      }
    }

    .cmyk-c {
      color: #0093d3;
    }

    .cmyk-m {
      color: #cc006b;
    }

    .cmyk-y {
      color: #fbb612;
    }

    .cmyk-k {
      color: #333;
    }

    // CMYK 图
    .pie {
      @include size(3rem);

      > circle {
        stroke-width: 8;
        stroke: currentColor;
      }
    }
  }
}