@charset 'utf-8';


.color-216 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.color-item {
  @include size(30%, 70px);
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px #ccc;

  &::after {
    @include absolute(left 0 right 0 bottom 0);

    content: '#'attr(data-color);
    height: 3em;
    background: #fff;
    padding: 3px 5px;
    font-size: 8px;
    line-height: 1.5;
    border-top: 0.5px solid #ddd;
    font-family: monospace;

    > p {
      margin: 0;
    }
  }
}

// 预命名色
.named-color {
  display: flex;
  height: 100%;
}

.color-bar {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    will-change: transform;
    width: 20%;
    padding-top: 20%;
    border-radius: 50%;
    transition: transform 1s;
    margin-bottom: 1em;
    background: radial-gradient(circle at 30% 30%, #fff 15%, transparent 0);

    &.active {
      // box-shadow: 2px 2px 5px #111;
      transform: rotate(180deg);
    }
  }
}

.color-detail {
  width: 40%;
  position: relative;

  ul {
    @include fixed(top 100px right 0);
    padding: 1em;
    color: #666;
  }

  li {
    position: relative;
    // 中文名称栏
    &:first-child {
      font-size: 1.2em;
      text-align: right;
    }
    // 英文名称
    &:nth-child(2) {
      line-height: 3;
      font-size: 12px;
      text-transform: capitalize;
      text-align: right;
    }
    &[data-text] {
      // RGB标识字
      &::before {
        @include absolute(right 2.5rem);
        content: attr(data-text);
        font-size: 14px;
      }
      // RGB数值区
      span {
        @include size(3rem);
        @include fc;
        
        margin-top: 1em;
        margin-left: auto;
        justify-content: flex-end;
        font-size: 18px;
        font-weight: bold;
        font-family: monospace;
        border-bottom: 2px solid #ccc;
      }
      i {
        @include size(3rem, 2px);
        @include relative(top -2px);

        will-change: transform;
        display: block;
        margin-left: auto;
        transform-origin: left;
        transition: transform 1s;
      }
      &[data-text=R] i {
        background-color: red;
      }
      &[data-text=G] i {
        background-color: green;
      }
      &[data-text=B] i {
        background-color: blue;
      }
    }
    &.hex {
      text-align: right;
      font-size: 12px;
    }
    &.badge {
      padding: 1em 0;
    }
  }
}
