@charset 'utf-8';

.nav-bar {
  height: var(--foot-height);

  > a {
    @include fc;
    flex-grow: 1;
    color: #666;
    font-size: 1.6em;
    flex-direction: column;

    &.router-link-active {
      color: hsl(206, 100%, 57%);
    }
  }

  span {
    font-size: 0.5em;
    line-height: 1.2;
  }
}